adblock:
    block_mode: nxdomain
    blocked_response_ip: 0.0.0.0
    blocked_ttl: 3600
    cache_dir: ./adblock_cache
    custom_rules_file: ./adblock_cache/custom_rules.txt
    enable: true
    engine: urlfilter
    max_cache_age_hours: 168
    max_cache_size_mb: 300
    rule_urls: []
    update_interval_hours: 24
cache:
    error_cache_ttl_seconds: 30
    eviction_batch_percent: 0.1
    eviction_threshold: 0.9
    fast_response_ttl: 15
    keep_expired_entries: true
    max_memory_mb: 500
    max_ttl_seconds: 84600
    min_ttl_seconds: 3600
    negative_ttl_seconds: 300
    protect_prefetch_domains: true
    user_return_ttl: 500
dns:
    enable_ipv6: true
    enable_tcp: true
    listen_port: 53
ping:
    concurrency: 16
    count: 3
    max_test_ips: 0
    rtt_cache_ttl_seconds: 900
    strategy: min
    timeout_ms: 500
prefetch:
    enabled: true
    refresh_before_expire_seconds: 10
    top_domains_limit: 1000
system:
    max_cpu_cores: 0
    refresh_workers: 0
    sort_queue_workers: 0
upstream:
    bootstrap_dns:
        - 223.5.5.5:53
        - 8.8.8.8:53
    concurrency: 100
    nxdomain_for_errors: true
    servers:
        - 192.168.1.25
    strategy: random
    timeout_ms: 3000
webui:
    enabled: true
    listen_port: 8080
